.u-center-text {
  text-align: center !important;
}
.u-margin-bottom-A {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-B {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-C {
  margin-bottom: 2rem !important;
}

.u-margin-top-A {
  margin-bottom: 8rem !important;
}

.u-padding-top-B {
  padding-top: 6rem;
}

.u-z-index-plus5 {
  z-index: 5;
}
